<!DOCTYPE html>
<html>
<head>
<title>Borko Lab - заготовка шаблона</title> <!-- Заменить в Final version -->
<meta name="description" content="Borko Lab - заготовка шаблона"><!-- Заменить в Final version -->
<link href="./css/styles.css" rel="stylesheet">
<link href="./css/borko-styles.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="./css/jquery.circliful.css">
<script type="text/javascript" src="./js/jquery.circliful.min.js"></script>
</head>
<body>
<!-- 
Пример построения диаграммы
    <div class="circle-container">
      <div class="circlestat" data-dimension="200" data-info="New Clients" data-text="10%" data-width="7" data-fontsize="24" data-percent="10" data-fgcolor="#f1c30e" data-bgcolor="#e7e8e8" data-fill="#e7e8e8"></div>
    </div>
<script>
$( document ).ready(function() {
		$('.circlestat').circliful();
    });
</script>
-->
</body>
</html>